WellnessDemo/.idea/AndroidProjectSystem.xml
WellnessDemo/.idea/gradle.xml
WellnessDemo/.idea/gradle.xml
WellnessDemo/.idea/inspectionProfiles/Project_Default.xml
WellnessDemo/.idea/runConfigurations.xml
WellnessDemo/.idea/inspectionProfiles/Project_Default.xml
